<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>633623129012-mefqg0afi78kdgl0p1qa3rkhljr167tm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.633623129012-mefqg0afi78kdgl0p1qa3rkhljr167tm</string>
	<key>API_KEY</key>
	<string>AIzaSyCJRtq11Em9_q6UdR_9ROWPgsiC70nMUUI</string>
	<key>GCM_SENDER_ID</key>
	<string>633623129012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dezeleven.deliveries</string>
	<key>PROJECT_ID</key>
	<string>budty-56fc4</string>
	<key>STORAGE_BUCKET</key>
	<string>budty-56fc4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:633623129012:ios:abd96f16f28fc6bba2e0e1</string>
	<key>DATABASE_URL</key>
	<string>https://budty-56fc4.firebaseio.com</string>
</dict>
</plist>